# ===========================
# Maven
# ===========================
target/

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar

# ===========================
# IntelliJ IDEA
# ===========================
.idea/
*.iml
*.ipr
*.iws

# ===========================
# Eclipse / STS
# ===========================
.project
.classpath
.settings/
.springBeans
.sts4-cache

# ===========================
# VS Code
# ===========================
.vscode/

# ===========================
# NetBeans
# ===========================
nbproject/
nbbuild/
dist/
build/

# ===========================
# Logs
# ===========================
*.log

# ===========================
# Environment Files
# ===========================
.env

# ===========================
# Operating System Files
# ===========================
.DS_Store
Thumbs.db
